# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
frontend/node_modules

# Build
dist
dist-ssr
*.local

# Python
backend/__pycache__/
venv/
backend/.env

# Screenshots
s1.png
s2.png
s3.png
s4.png
s5.png
s6.png

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
